a {
    color: wheat;
    background-color: tomato;
    text-decoration: none;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 55px;
    transition: color 1s cubic-bezier(0.600, 0.0, 0.735, 0.045),
    background-color 2s ease-in-out,
    border-radius 3s ease-in-out;
}
a:hover {
    border-radius: 20px;
    color: tomato;
    background-color: wheat;
    
}